@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--cream);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    margin: 1rem;
    border-radius: 3%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    width: 100%;
    border-radius: 3% 3% 0 0;
    max-inline-size: 100%;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700; 
    margin: 0;
    line-height: 2rem;
    color: var(--very-dark-blue);
}

p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5rem;
}

.product-type {
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin: 1.5rem 0 1rem;
}

.white-box {
    padding: 0 1.5rem 1.5rem;
}

.price {
    color: var(--dark-cyan);
    margin-right: 1.2rem;
}

.old-price {
    text-decoration: line-through;
}

button {
    border-radius: 8px ;
    background-color: var(--dark-cyan);
    border: none;
    color: var(--white);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

button img {
    width: 1rem;
    margin-right: .5rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media all and (min-width: 42rem) {
    .container {
        flex-direction: row;
        max-width: 40rem;
        min-width: calc(100% - 10rem);
    }

    .product-img, .white-box {
        flex: 1;
        width: 50%;
    }

    .product-img {
        border-radius: 3% 0 0 3%;
        height: 100%;
    }

    .white-box {
        padding: 0;
    }

    .product-info {
        padding: .8rem 3rem 2rem;
    }

    p {
        margin: 1.5rem 0 1rem;
    }

}